In [56]:
import pandas as pd
import datetime as dt
from pandas.tseries import offsets

In [9]:
dt.date(2010, 1, 10) #year, month, day

datetime.date(2010, 1, 10)

In [4]:
someday = dt.date(2010, 1, 10)

In [5]:
someday

datetime.date(2010, 1, 10)

In [8]:
someday.month
someday.day
someday.year

2010

In [10]:
dt.datetime(2010, 1, 10, 17, 20, 44) #year, month, day, hour, minutes, seconds

datetime.datetime(2010, 1, 10, 17, 20, 44)

In [11]:
somedate = dt.datetime(2010, 1, 10, 17, 20, 44)

In [12]:
somedate

datetime.datetime(2010, 1, 10, 17, 20, 44)

In [15]:
somedate.month
somedate.day
somedate.year
somedate.hour
somedate.minute
somedate.second

44

In [16]:
str(somedate)

'2010-01-10 17:20:44'

In [17]:
str(someday)

'2010-01-10'

# The Padas Timestamp Object

In [19]:
pd.Timestamp("2000-11-1") #it accepts any type of date formate

Timestamp('2000-11-01 00:00:00')

In [20]:
pd.Timestamp(dt.date(2001, 10, 11))

Timestamp('2001-10-11 00:00:00')

In [22]:
pd.Timestamp(dt.datetime(2001, 10, 11, 17, 22,1))

Timestamp('2001-10-11 17:22:01')

# The Padas Datetimeindex Object

In [26]:
dates = ["2000/09/12", "2001/11/24", "1998/10/06"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2000-09-12', '2001-11-24', '1998-10-06'], dtype='datetime64[ns]', freq=None)

In [27]:
values = [300, 200, 100]

In [29]:
pd.Series(data=values, index=dates)

2000/09/12    300
2001/11/24    200
1998/10/06    100
dtype: int64

# The pd.to_datetime() Method

In [30]:
pd.to_datetime("2000, 02,02")

Timestamp('2000-02-01 00:00:00')

In [35]:
pd.to_datetime(["2000/09/12", "2001-11-24", "1998/10/06"])

DatetimeIndex(['2000-09-12', '2001-11-24', '1998-10-06'], dtype='datetime64[ns]', freq=None)

In [36]:
pd.Series(["2000/09/12", "2001-11-24", "1998/10/06"])

0    2000/09/12
1    2001-11-24
2    1998/10/06
dtype: object

In [33]:
times = pd.Series(["2000/09/12", "2001/11/24", "1998/10/06"])

In [34]:
pd.to_datetime(times)

0   2000-09-12
1   2001-11-24
2   1998-10-06
dtype: datetime64[ns]

In [38]:
times = pd.Series(["2000/09/12", "hello", "1998/10/06"])
times

0    2000/09/12
1         hello
2    1998/10/06
dtype: object

In [40]:
pd.to_datetime(times) #we get an error

ParserError: Unknown string format: hello

In [41]:
pd.to_datetime(times, errors="coerce")

0   2000-09-12
1          NaT
2   1998-10-06
dtype: datetime64[ns]

In [43]:
pd.to_datetime([1254236521, 1448796201], unit="s")

DatetimeIndex(['2009-09-29 15:02:01', '2015-11-29 11:23:21'], dtype='datetime64[ns]', freq=None)

# Create Range Of Dates With The pd.date_range() Method

In [45]:
time = pd.date_range(start="2000-09-12", end="2020-03-14", freq="Y")
time

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31',
               '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [46]:
type(time)

pandas.core.indexes.datetimes.DatetimeIndex

In [47]:
type(time[0])

pandas._libs.tslibs.timestamps.Timestamp

In [48]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="2D")

DatetimeIndex(['2000-09-12', '2000-09-14', '2000-09-16', '2000-09-18',
               '2000-09-20', '2000-09-22', '2000-09-24', '2000-09-26',
               '2000-09-28', '2000-09-30',
               ...
               '2020-02-24', '2020-02-26', '2020-02-28', '2020-03-01',
               '2020-03-03', '2020-03-05', '2020-03-07', '2020-03-09',
               '2020-03-11', '2020-03-13'],
              dtype='datetime64[ns]', length=3562, freq='2D')

In [50]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="B") #business days

DatetimeIndex(['2000-09-12', '2000-09-13', '2000-09-14', '2000-09-15',
               '2000-09-18', '2000-09-19', '2000-09-20', '2000-09-21',
               '2000-09-22', '2000-09-25',
               ...
               '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11',
               '2020-03-12', '2020-03-13'],
              dtype='datetime64[ns]', length=5089, freq='B')

In [51]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="W-FRI")

DatetimeIndex(['2000-09-15', '2000-09-22', '2000-09-29', '2000-10-06',
               '2000-10-13', '2000-10-20', '2000-10-27', '2000-11-03',
               '2000-11-10', '2000-11-17',
               ...
               '2020-01-10', '2020-01-17', '2020-01-24', '2020-01-31',
               '2020-02-07', '2020-02-14', '2020-02-21', '2020-02-28',
               '2020-03-06', '2020-03-13'],
              dtype='datetime64[ns]', length=1018, freq='W-FRI')

In [52]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="H")

DatetimeIndex(['2000-09-12 00:00:00', '2000-09-12 01:00:00',
               '2000-09-12 02:00:00', '2000-09-12 03:00:00',
               '2000-09-12 04:00:00', '2000-09-12 05:00:00',
               '2000-09-12 06:00:00', '2000-09-12 07:00:00',
               '2000-09-12 08:00:00', '2000-09-12 09:00:00',
               ...
               '2020-03-13 15:00:00', '2020-03-13 16:00:00',
               '2020-03-13 17:00:00', '2020-03-13 18:00:00',
               '2020-03-13 19:00:00', '2020-03-13 20:00:00',
               '2020-03-13 21:00:00', '2020-03-13 22:00:00',
               '2020-03-13 23:00:00', '2020-03-14 00:00:00'],
              dtype='datetime64[ns]', length=170953, freq='H')

In [53]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="6H")

DatetimeIndex(['2000-09-12 00:00:00', '2000-09-12 06:00:00',
               '2000-09-12 12:00:00', '2000-09-12 18:00:00',
               '2000-09-13 00:00:00', '2000-09-13 06:00:00',
               '2000-09-13 12:00:00', '2000-09-13 18:00:00',
               '2000-09-14 00:00:00', '2000-09-14 06:00:00',
               ...
               '2020-03-11 18:00:00', '2020-03-12 00:00:00',
               '2020-03-12 06:00:00', '2020-03-12 12:00:00',
               '2020-03-12 18:00:00', '2020-03-13 00:00:00',
               '2020-03-13 06:00:00', '2020-03-13 12:00:00',
               '2020-03-13 18:00:00', '2020-03-14 00:00:00'],
              dtype='datetime64[ns]', length=28493, freq='6H')

In [54]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="M")

DatetimeIndex(['2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31',
               '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30',
               '2001-05-31', '2001-06-30',
               ...
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29'],
              dtype='datetime64[ns]', length=234, freq='M')

In [57]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="MS") #month start

DatetimeIndex(['2000-10-01', '2000-11-01', '2000-12-01', '2001-01-01',
               '2001-02-01', '2001-03-01', '2001-04-01', '2001-05-01',
               '2001-06-01', '2001-07-01',
               ...
               '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01',
               '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01',
               '2020-02-01', '2020-03-01'],
              dtype='datetime64[ns]', length=234, freq='MS')

In [59]:
pd.date_range(start="2000-09-12", end="2020-03-14", freq="A") #last day in each year

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31',
               '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [61]:
len(pd.date_range(start="2000-09-12", end="2022-03-14", freq="Y"))

22

In [63]:
pd.date_range(start="2000-09-12", periods=25, freq="D")

DatetimeIndex(['2000-09-12', '2000-09-13', '2000-09-14', '2000-09-15',
               '2000-09-16', '2000-09-17', '2000-09-18', '2000-09-19',
               '2000-09-20', '2000-09-21', '2000-09-22', '2000-09-23',
               '2000-09-24', '2000-09-25', '2000-09-26', '2000-09-27',
               '2000-09-28', '2000-09-29', '2000-09-30', '2000-10-01',
               '2000-10-02', '2000-10-03', '2000-10-04', '2000-10-05',
               '2000-10-06'],
              dtype='datetime64[ns]', freq='D')

In [64]:
pd.date_range(start="2000-09-12", periods=25, freq="B")

DatetimeIndex(['2000-09-12', '2000-09-13', '2000-09-14', '2000-09-15',
               '2000-09-18', '2000-09-19', '2000-09-20', '2000-09-21',
               '2000-09-22', '2000-09-25', '2000-09-26', '2000-09-27',
               '2000-09-28', '2000-09-29', '2000-10-02', '2000-10-03',
               '2000-10-04', '2000-10-05', '2000-10-06', '2000-10-09',
               '2000-10-10', '2000-10-11', '2000-10-12', '2000-10-13',
               '2000-10-16'],
              dtype='datetime64[ns]', freq='B')

In [66]:
pd.date_range(start="2000-09-12", periods=25, freq="W-Sun")

DatetimeIndex(['2000-09-17', '2000-09-24', '2000-10-01', '2000-10-08',
               '2000-10-15', '2000-10-22', '2000-10-29', '2000-11-05',
               '2000-11-12', '2000-11-19', '2000-11-26', '2000-12-03',
               '2000-12-10', '2000-12-17', '2000-12-24', '2000-12-31',
               '2001-01-07', '2001-01-14', '2001-01-21', '2001-01-28',
               '2001-02-04', '2001-02-11', '2001-02-18', '2001-02-25',
               '2001-03-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [68]:
pd.date_range(end="2000-09-12", periods=40, freq="D")

DatetimeIndex(['2000-08-04', '2000-08-05', '2000-08-06', '2000-08-07',
               '2000-08-08', '2000-08-09', '2000-08-10', '2000-08-11',
               '2000-08-12', '2000-08-13', '2000-08-14', '2000-08-15',
               '2000-08-16', '2000-08-17', '2000-08-18', '2000-08-19',
               '2000-08-20', '2000-08-21', '2000-08-22', '2000-08-23',
               '2000-08-24', '2000-08-25', '2000-08-26', '2000-08-27',
               '2000-08-28', '2000-08-29', '2000-08-30', '2000-08-31',
               '2000-09-01', '2000-09-02', '2000-09-03', '2000-09-04',
               '2000-09-05', '2000-09-06', '2000-09-07', '2000-09-08',
               '2000-09-09', '2000-09-10', '2000-09-11', '2000-09-12'],
              dtype='datetime64[ns]', freq='D')

# The .dt Accessor

In [71]:
dates = pd.date_range(start="2000-09-12", end="2022-03-14", freq="24D")
dates

DatetimeIndex(['2000-09-12', '2000-10-06', '2000-10-30', '2000-11-23',
               '2000-12-17', '2001-01-10', '2001-02-03', '2001-02-27',
               '2001-03-23', '2001-04-16',
               ...
               '2021-08-05', '2021-08-29', '2021-09-22', '2021-10-16',
               '2021-11-09', '2021-12-03', '2021-12-27', '2022-01-20',
               '2022-02-13', '2022-03-09'],
              dtype='datetime64[ns]', length=328, freq='24D')

In [73]:
s= pd.Series(dates)
s

0     2000-09-12
1     2000-10-06
2     2000-10-30
3     2000-11-23
4     2000-12-17
         ...
323   2021-12-03
324   2021-12-27
325   2022-01-20
326   2022-02-13
327   2022-03-09
Length: 328, dtype: datetime64[ns]

In [83]:
s.dt.day
s.dt.weekday
mask = s.dt.is_quarter_start

In [84]:
s[mask]

16    2001-10-01
172   2012-01-01
191   2013-04-01
210   2014-07-01
309   2021-01-01
dtype: datetime64[ns]

# Import Financial Dataset with Pandas_Datareader library

In [1]:
from pandas_datareader import data

In [3]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,23.855656
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,23.863358
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,23.716921
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.470270
2010-01-08,30.879999,30.240000,30.280001,30.660000,51197400.0,23.632132
...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,220.442551
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,222.629654
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,221.828049
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,219.383621
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.115967

In [4]:
stocks.values

array([[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.38556557e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.38633575e+01],
       [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
        5.81824000e+07, 2.37169209e+01],
       ...,
       [2.27179993e+02, 2.23580002e+02, 2.26309998e+02, 2.24149994e+02,
        1.74032000e+07, 2.21828049e+02],
       [2.25630005e+02, 2.21470001e+02, 2.25229996e+02, 2.21679993e+02,
        2.02723000e+07, 2.19383621e+02],
       [2.23000000e+02, 2.19679993e+02, 2.21699997e+02, 2.22419998e+02,
        2.09421000e+07, 2.20115967e+02]])

In [5]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [6]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [7]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting Rows From A Dataframe With A Datatimeindex

In [8]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.855658
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.863363
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.716917

In [11]:
stocks.loc[["2010-01-04", "2010-01-05"]] #

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  23.855658
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  23.863363

In [13]:
stocks.truncate(before="2010-01-04",after="2010-01-07")

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.855658
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.863363
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.716917
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.470268

In [18]:
stocks.iloc[211: 522] #from 211 to 521 ---> 522 not encloded

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-11-03  27.490000  26.959999  27.459999  27.030001  110255300.0  21.138239
2010-11-04  27.430000  27.010000  27.410000  27.139999   93599300.0  21.224255
2010-11-05  27.190001  26.530001  27.170000  26.850000  110953700.0  20.997475
2010-11-08  28.870001  26.580000  26.680000  26.809999   71670800.0  20.966183
2010-11-09  27.110001  26.709999  26.809999  26.950001   58538600.0  21.075670
...               ...        ...        ...        ...          ...        ...
2012-01-23  29.950001  29.350000  29.549999  29.730000   76078100.0  24.014042
2012-01-24  29.570000  29.180000  29.469999  29.340000   51703300.0  23.699020
2012-01-25  29.650000  29.070000  29.070000  29.559999   59231700.0  23.876717
2012-01-26  29.700001  29.400000  29.610001  29.500000   49102800.0  23.828264
2012-01-27  29.530001  29.170000  29.450001  29.230000   44187700.0  23.610176

[311 rows x 6 columns]

In [23]:
pd.date_range(start="2000-09-12", end="2022-03-14", freq= pd.DateOffset(years=1))

DatetimeIndex(['2000-09-12', '2001-09-12', '2002-09-12', '2003-09-12',
               '2004-09-12', '2005-09-12', '2006-09-12', '2007-09-12',
               '2008-09-12', '2009-09-12', '2010-09-12', '2011-09-12',
               '2012-09-12', '2013-09-12', '2014-09-12', '2015-09-12',
               '2016-09-12', '2017-09-12', '2018-09-12', '2019-09-12',
               '2020-09-12', '2021-09-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [24]:
birthdays = pd.date_range(start="2000-09-12", end="2022-03-14", freq= pd.DateOffset(years=1))

In [27]:
b = stocks.index.isin(birthdays)

In [28]:
b

array([False, False, False, ..., False, False, False])

In [29]:
stocks[b]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2011-09-12,25.930000,25.270000,25.440001,25.889999,55046100.0,20.756031
2012-09-12,31.180000,30.730000,30.940001,30.780001,32775800.0,25.356932
2013-09-12,32.779999,32.590000,32.720001,32.689999,32860200.0,27.762733
2014-09-12,47.020000,46.599998,46.910000,46.700001,38244700.0,40.798763
2016-09-12,57.209999,55.610001,56.000000,57.049999,29303000.0,52.579185
2017-09-12,75.239998,74.370003,74.760002,74.680000,14394900.0,70.485764
2018-09-12,111.849998,110.510002,111.430000,111.709999,18891100.0,107.336288
2019-09-12,138.419998,136.869995,137.850006,137.520004,27010000.0,134.212143

#  Timestamp Object Attributes and Methods

In [30]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.855663
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.863367
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.716917

In [31]:
stocks.index[22]

Timestamp('2010-02-04 00:00:00')

In [32]:
b = stocks.index[22]

In [33]:
b.month

2

In [35]:
b.day_name()

'Thursday'

In [37]:
b.month_name()

'February'

In [38]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2769)

In [39]:
stocks.insert(0, "Day_Name",stocks.index.day_name())

In [40]:
stocks

,Day_Name,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.855663
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.863367
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.716917
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.470266
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.632130
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,220.442551
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,222.629654
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,221.828049
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,219.383621
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,220.115967

# The pd.DateOffset Object

In [41]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.855658
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.863363
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.716921

In [43]:
stocks.index  + 5 #error

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [44]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-12-22', '2020-12-23', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2021-01-02', '2021-01-03',
               '2021-01-04', '2021-01-05'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [48]:
stocks.index + pd.DateOffset(months=1, days = 5, hours= 12, minutes=20, seconds=25)

DatetimeIndex(['2010-02-09 12:20:25', '2010-02-10 12:20:25',
               '2010-02-11 12:20:25', '2010-02-12 12:20:25',
               '2010-02-13 12:20:25', '2010-02-16 12:20:25',
               '2010-02-17 12:20:25', '2010-02-18 12:20:25',
               '2010-02-19 12:20:25', '2010-02-20 12:20:25',
               ...
               '2021-01-22 12:20:25', '2021-01-23 12:20:25',
               '2021-01-26 12:20:25', '2021-01-27 12:20:25',
               '2021-01-28 12:20:25', '2021-01-29 12:20:25',
               '2021-02-02 12:20:25', '2021-02-03 12:20:25',
               '2021-02-04 12:20:25', '2021-02-05 12:20:25'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# Timeseries Offset

In [49]:
stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.855659
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.863365
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.716921

In [52]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [53]:
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,221.828033
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,219.383621
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.115967

In [55]:
stocks.index + pd.tseries.offsets.MonthBegin() #or from pandas.tseries import offsets

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [57]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [58]:
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [59]:
stocks.index - offsets.YearBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [60]:
stocks.index - offsets.YearEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# The Timedelta Object